<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bot</title>

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
   

  <!-- bootUi cdn-->
  <link rel="stylesheet" href="https://unpkg.com/botui/build/botui.min.css" /> 
  <link rel="stylesheet" href="https://unpkg.com/botui/build/botui-theme-default.css"/> 
  <link rel="stylesheet" href="css/bot.css">


 
    
  </head>
  <body>

  <!-- Bot -->
  <div class="bot-container">
    <div id="my-botui-app">
        <button class="close" onclick="closeBot()">❌</button>
        <bot-ui></bot-ui>
    </div>
    <div>
        <button class="thank" onclick="closeBot()">Thank You</button>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
<script src="https://unpkg.com/botui/build/botui.min.js"></script>
<script src="js/bot.js"></script>
</body>